<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa ravintolaa</title>
</head>

<body>
  <h1>Muokkaa ravintolaa</h1>
  <form action="/update_item" method="post">
    <p>
      Nimi: <br />
      <input type="text" name="title" value="{{ item.name }}"/>
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="6" cols="60">{{ item.description }}</textarea>
    </p>
    <p>
      Sijainti: <br />
      <input type="text" name="location" value="{{ item.location }}" />
    </p>
    <p>
      Kategoria (keittiötyyppi): <br />
      <input type="text" name="category" value="{{ item.category }}" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    {% for class in all_classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value="">(valitse)</option>
      {% for option in all_classes[class] %}
        {% if classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="submit" value="Päivitä" />
  </form>
</body>

</html>