{% extends "layout.html" %}

{% block title %}Ravintolahaku{% endblock %}

{% block content %}
<h2>Etsi ravintola</h2>

<form action="/find_item" method="get">
  <p>
      Hakusana: <input type="text" name="query" value="{{ query}}">
  </p>
  <p>
      Sijainti: <input type="text" name="location" value="{{ location }}">
  </p>
  <p>
      Keittiötyyppi: <input type="text" name="cuisine" value="{{ cuisine }}">
  </p>
  <input type="submit" value="Hae">
</form>

{% if results %}
<h2>Tulokset</h2>

<ul>
  {% for item in results %}
  <li><a href="/item/{{ item.id }}">{{ item.name }}</a> {% if item.location %}- {{ item.location }}{% endif %}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}