{% extends "layout.html" %}

{% block title %}Uusi ravintola{% endblock %}

{% block content %}
<h2>Lisää ravintola</h2>
<form action="/create_item" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>
    <label for ="title">Nimi</label>: <br />
    <input id="title" type="text" name="title" maxlength="50" />
  </p>
  <p>
    <label for ="description">Kuvaus</label>: <br />
    <textarea id="description" name="description" rows="6" cols="60"></textarea>
  </p>
  <p>
    <label for ="location">Sijainti</label>: <br />
    <input id="location" type="text" name="location" />
  </p>
  <p>
    <label for ="category">Kategoria (keittiötyyppi)</label>: <br />
    <input id="category" type="text" name="category" />
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="submit" value="Lisää ravintola" />
</form>
{% endblock %}