<!DOCTYPE html>
<html>

<head>
  <title>Lisää ravintola</title>
</head>

<body>
  <h1>Lisää ravintola</h1>
  <form action="/create_item" method="post">
    <p>
      Nimi: <br />
      <input type="text" name="title" required />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="6" cols="60"></textarea>
    </p>
    <p>
      Sijainti: <br />
      <input type="text" name="location" />
    </p>
    <p>
      Kategoria (keittiötyyppi): <br />
      <input type="text" name="category" />
    </p>
    <input type="submit" value="Lisää ravintola" />
  </form>
</body>

</html>