{% extends "layout.html" %}

{% block title %}Ravintolan poisto{% endblock %}

{% block content %}
<h2>{{ item.name }}</h2>
<h3>Poista ravintola</h3>
<p>Haluatko varmasti poistaa tämän ravintolan?</p>
<form action="/remove_item/{{ item.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Poista">
  <input type="submit" name="back" value="Palaa takaisin">
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin</a>
</p>
{% endblock %}