<!DOCTYPE html>
<html>

<head>
  <title>{{ item.name }}</title>
  <meta charset="utf-8">
</head>

<body>
  <h1>{{ item.name }}</h1>
{% if session.user_id == item.owner_id %}
  <p>
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    {{ item.description }}
  </p>
  <p>
    Sijainti: {{ item.location }}
  </p>
  <p>
    Kategoria: {{ item.category }}
  </p>
  <p>
    Omistaja: {{ item.owner_username }}
  </p>
  <p>
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>